In [29]:

import pandas as pd
import openpyxl
from os import rename
import numpy as np
%matplotlib qt5
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
dfdata = pd.read_excel('D:\Pycharm by URFU\Задание по очистке данных.xlsx', na_values=['-'])   #'-' = Nan
dfdata.info()   #в 0-ой колонке все данные равны NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    0 non-null      float64
 1   Date          158 non-null    datetime64[ns]
 2   Time          158 non-null    object
 3   Temp          153 non-null    float64
 4   Lightness     158 non-null    float64
 5   Wind_speed    158 non-null    float64
 6   Day_number    158 non-null    object
 7   Solar_ang_1   148 non-null    float64
 8   Latitude      158 non-null    object
 9   Longitude     158 non-null    object
 10  Wind_speed_2  150 non-null    object
 11  Solar_ang_2   158 non-null    float64
dtypes: datetime64[ns](1), float64(6), object(5)
memory usage: 14.9+ KB

In [3]:
dfdata

,Unnamed: 0,Date,Time,Temp,Lightness,Wind_speed,Day_number,Solar_ang_1,Latitude,Longitude,Wind_speed_2,Solar_ang_2
0,NaN,2015-11-23,0:00:00,0.55,0.604,2.170,d327,-20.824944,": 54,311",": 46,321",25.2 км/ч / 7.0 m/s,0.0
1,NaN,2015-11-23,0:30:00,0.25,0.581,999.000,d327,-20.824944,": 54,311",": 46,321",25.2 км/ч / 7.0 m/s,0.0
2,NaN,2015-11-23,1:00:00,NaN,0.569,1.031,d327,-20.824944,": 54,311",": 46,321",10.8 км/ч / 3.0 m/s,0.0
3,NaN,2015-11-23,1:30:00,NaN,0.629,1.031,d327,-20.824944,": 54,311",": 46,321",10.8 км/ч / 3.0 m/s,999.0
4,NaN,2015-11-23,2:00:00,NaN,0.551,2.968,d327,-20.824944,": 54,311",": 46,321",10.8 км/ч / 3.0 m/s,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
153,NaN,2015-11-26,4:30:00,-1.38,0.595,0.197,d330,NaN,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0
154,NaN,2015-11-26,5:00:00,-1.50,0.542,0.994,d330,-21.353679,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0
155,NaN,2015-11-26,5:30:00,-1.61,0.541,1.044,d330,-21.353679,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0
156,NaN,2015-11-26,6:00:00,-1.57,0.577,1.021,d330,NaN,": 54,311",": 46,321",NaN,0.0
157,NaN,2015-11-26,6:30:00,-2.02,0.555,1.295,d330,NaN,": 54,311",": 46,321",NaN,0.0

In [4]:
clean_df = dfdata.copy()
clean_df = clean_df.drop(dfdata.columns[0], axis=1)   #удаление 0-ой колонки с NaN значениями
clean_df

,Date,Time,Temp,Lightness,Wind_speed,Day_number,Solar_ang_1,Latitude,Longitude,Wind_speed_2,Solar_ang_2
0,2015-11-23,0:00:00,0.55,0.604,2.170,d327,-20.824944,": 54,311",": 46,321",25.2 км/ч / 7.0 m/s,0.0
1,2015-11-23,0:30:00,0.25,0.581,999.000,d327,-20.824944,": 54,311",": 46,321",25.2 км/ч / 7.0 m/s,0.0
2,2015-11-23,1:00:00,NaN,0.569,1.031,d327,-20.824944,": 54,311",": 46,321",10.8 км/ч / 3.0 m/s,0.0
3,2015-11-23,1:30:00,NaN,0.629,1.031,d327,-20.824944,": 54,311",": 46,321",10.8 км/ч / 3.0 m/s,999.0
4,2015-11-23,2:00:00,NaN,0.551,2.968,d327,-20.824944,": 54,311",": 46,321",10.8 км/ч / 3.0 m/s,0.0
...,...,...,...,...,...,...,...,...,...,...,...
153,2015-11-26,4:30:00,-1.38,0.595,0.197,d330,NaN,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0
154,2015-11-26,5:00:00,-1.50,0.542,0.994,d330,-21.353679,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0
155,2015-11-26,5:30:00,-1.61,0.541,1.044,d330,-21.353679,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0
156,2015-11-26,6:00:00,-1.57,0.577,1.021,d330,NaN,": 54,311",": 46,321",NaN,0.0
157,2015-11-26,6:30:00,-2.02,0.555,1.295,d330,NaN,": 54,311",": 46,321",NaN,0.0

In [5]:
clean_df.dropna(axis=0, inplace=True)   #удаление всех NaN по строкам
clean_df

,Date,Time,Temp,Lightness,Wind_speed,Day_number,Solar_ang_1,Latitude,Longitude,Wind_speed_2,Solar_ang_2
0,2015-11-23,0:00:00,0.55,0.604,2.170,d327,-20.824944,": 54,311",": 46,321",25.2 км/ч / 7.0 m/s,0.0
1,2015-11-23,0:30:00,0.25,0.581,999.000,d327,-20.824944,": 54,311",": 46,321",25.2 км/ч / 7.0 m/s,0.0
7,2015-11-23,3:30:00,0.13,0.588,0.983,d327,-20.824944,": 54,311",": 46,321",10.8 км/ч / 3.0 m/s,0.0
8,2015-11-23,4:00:00,-0.16,0.551,999.000,d327,-20.824944,": 54,311",": 46,321",10.8 км/ч / 3.0 m/s,0.0
9,2015-11-23,4:30:00,-0.39,0.541,1.689,d327,-20.824944,": 54,311",": 46,321",10.8 км/ч / 3.0 m/s,0.0
...,...,...,...,...,...,...,...,...,...,...,...
150,2015-11-26,3:00:00,-1.31,0.576,0.328,d330,-21.353679,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0
151,2015-11-26,3:30:00,-1.29,0.484,0.711,d330,-21.353679,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0
152,2015-11-26,4:00:00,-1.42,0.692,0.210,d330,-21.353679,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0
154,2015-11-26,5:00:00,-1.50,0.542,0.994,d330,-21.353679,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0
155,2015-11-26,5:30:00,-1.61,0.541,1.044,d330,-21.353679,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0

In [6]:
#создание колонок с годом, месяцем и днём на основании колонки с датой, затем удаление колонки с датой
clean_df['Year'] = clean_df['Date'].dt.year
clean_df['Month'] = clean_df['Date'].dt.month
clean_df['Day'] = clean_df['Date'].dt.day
clean_df = clean_df.drop(['Date'], axis=1)

In [7]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 0 to 155
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Time          137 non-null    object
 1   Temp          137 non-null    float64
 2   Lightness     137 non-null    float64
 3   Wind_speed    137 non-null    float64
 4   Day_number    137 non-null    object
 5   Solar_ang_1   137 non-null    float64
 6   Latitude      137 non-null    object
 7   Longitude     137 non-null    object
 8   Wind_speed_2  137 non-null    object
 9   Solar_ang_2   137 non-null    float64
 10  Year          137 non-null    int64
 11  Month         137 non-null    int64
 12  Day           137 non-null    int64
dtypes: float64(5), int64(3), object(5)
memory usage: 15.0+ KB

In [8]:
#создание колонок с часом и минутами на основании колонки со временем, удаление колонки со временем
time_df = clean_df['Time'].str.split(':', expand=True)
clean_df['Hour'] = time_df[0].astype(int)
clean_df['Minute'] = time_df[1].astype(int)
clean_df = clean_df.drop(['Time'], axis=1)

In [9]:
clean_df

,Temp,Lightness,Wind_speed,Day_number,Solar_ang_1,Latitude,Longitude,Wind_speed_2,Solar_ang_2,Year,Month,Day,Hour,Minute
0,0.55,0.604,2.170,d327,-20.824944,": 54,311",": 46,321",25.2 км/ч / 7.0 m/s,0.0,2015,11,23,0,0
1,0.25,0.581,999.000,d327,-20.824944,": 54,311",": 46,321",25.2 км/ч / 7.0 m/s,0.0,2015,11,23,0,30
7,0.13,0.588,0.983,d327,-20.824944,": 54,311",": 46,321",10.8 км/ч / 3.0 m/s,0.0,2015,11,23,3,30
8,-0.16,0.551,999.000,d327,-20.824944,": 54,311",": 46,321",10.8 км/ч / 3.0 m/s,0.0,2015,11,23,4,0
9,-0.39,0.541,1.689,d327,-20.824944,": 54,311",": 46,321",10.8 км/ч / 3.0 m/s,0.0,2015,11,23,4,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,-1.31,0.576,0.328,d330,-21.353679,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0,2015,11,26,3,0
151,-1.29,0.484,0.711,d330,-21.353679,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0,2015,11,26,3,30
152,-1.42,0.692,0.210,d330,-21.353679,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0,2015,11,26,4,0
154,-1.50,0.542,0.994,d330,-21.353679,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0,2015,11,26,5,0
155,-1.61,0.541,1.044,d330,-21.353679,": 54,311",": 46,321",7.2 км/ч / 2.0 m/s,0.0,2015,11,26,5,30

In [10]:
#оставляем только м/с в колонке со скоростью
clean_df['Wind_speed_2'] = clean_df['Wind_speed_2'].str.split(' / ', expand=True)[1]

In [11]:
clean_df

,Temp,Lightness,Wind_speed,Day_number,Solar_ang_1,Latitude,Longitude,Wind_speed_2,Solar_ang_2,Year,Month,Day,Hour,Minute
0,0.55,0.604,2.170,d327,-20.824944,": 54,311",": 46,321",7.0 m/s,0.0,2015,11,23,0,0
1,0.25,0.581,999.000,d327,-20.824944,": 54,311",": 46,321",7.0 m/s,0.0,2015,11,23,0,30
7,0.13,0.588,0.983,d327,-20.824944,": 54,311",": 46,321",3.0 m/s,0.0,2015,11,23,3,30
8,-0.16,0.551,999.000,d327,-20.824944,": 54,311",": 46,321",3.0 m/s,0.0,2015,11,23,4,0
9,-0.39,0.541,1.689,d327,-20.824944,": 54,311",": 46,321",3.0 m/s,0.0,2015,11,23,4,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,-1.31,0.576,0.328,d330,-21.353679,": 54,311",": 46,321",2.0 m/s,0.0,2015,11,26,3,0
151,-1.29,0.484,0.711,d330,-21.353679,": 54,311",": 46,321",2.0 m/s,0.0,2015,11,26,3,30
152,-1.42,0.692,0.210,d330,-21.353679,": 54,311",": 46,321",2.0 m/s,0.0,2015,11,26,4,0
154,-1.50,0.542,0.994,d330,-21.353679,": 54,311",": 46,321",2.0 m/s,0.0,2015,11,26,5,0
155,-1.61,0.541,1.044,d330,-21.353679,": 54,311",": 46,321",2.0 m/s,0.0,2015,11,26,5,30

In [12]:
#снова делим колонку со скоростьюпо пробелу, зменяем возможные пустые значения на Nan для их последующего удаления, приводим к float
clean_df['Wind_speed_2'] = clean_df['Wind_speed_2'].str.split(' ', expand=True)[0].replace('', np.nan).astype(float)

In [13]:
#колонка со скоростью имеет 4 Nan, которые нужно удалить
clean_df['Wind_speed_2'].isna().sum()

4

In [14]:
#удаляем все получившиеся Nan по строкам
clean_df.dropna(axis=0, inplace=True)

In [15]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133 entries, 0 to 155
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Temp          133 non-null    float64
 1   Lightness     133 non-null    float64
 2   Wind_speed    133 non-null    float64
 3   Day_number    133 non-null    object
 4   Solar_ang_1   133 non-null    float64
 5   Latitude      133 non-null    object
 6   Longitude     133 non-null    object
 7   Wind_speed_2  133 non-null    float64
 8   Solar_ang_2   133 non-null    float64
 9   Year          133 non-null    int64
 10  Month         133 non-null    int64
 11  Day           133 non-null    int64
 12  Hour          133 non-null    int32
 13  Minute        133 non-null    int32
dtypes: float64(6), int32(2), int64(3), object(3)
memory usage: 14.5+ KB

In [16]:
#изменяем название колонки со скоростью
clean_df.rename(columns={'Wind_speed_2': 'Wind_speed_m/s'}, inplace=True)

In [17]:
clean_df

,Temp,Lightness,Wind_speed,Day_number,Solar_ang_1,Latitude,Longitude,Wind_speed_m/s,Solar_ang_2,Year,Month,Day,Hour,Minute
0,0.55,0.604,2.170,d327,-20.824944,": 54,311",": 46,321",7.0,0.0,2015,11,23,0,0
1,0.25,0.581,999.000,d327,-20.824944,": 54,311",": 46,321",7.0,0.0,2015,11,23,0,30
7,0.13,0.588,0.983,d327,-20.824944,": 54,311",": 46,321",3.0,0.0,2015,11,23,3,30
8,-0.16,0.551,999.000,d327,-20.824944,": 54,311",": 46,321",3.0,0.0,2015,11,23,4,0
9,-0.39,0.541,1.689,d327,-20.824944,": 54,311",": 46,321",3.0,0.0,2015,11,23,4,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,-1.31,0.576,0.328,d330,-21.353679,": 54,311",": 46,321",2.0,0.0,2015,11,26,3,0
151,-1.29,0.484,0.711,d330,-21.353679,": 54,311",": 46,321",2.0,0.0,2015,11,26,3,30
152,-1.42,0.692,0.210,d330,-21.353679,": 54,311",": 46,321",2.0,0.0,2015,11,26,4,0
154,-1.50,0.542,0.994,d330,-21.353679,": 54,311",": 46,321",2.0,0.0,2015,11,26,5,0
155,-1.61,0.541,1.044,d330,-21.353679,": 54,311",": 46,321",2.0,0.0,2015,11,26,5,30

In [18]:
#из колонки с номером дня уберём символ d разделением строки по нему, возьмём только правую часть[1]
clean_df['Day_number'] = clean_df['Day_number'].str.split('d', expand=True)[1].astype(int)

In [19]:
#из колонок с данными широты и долготы оставляем только число также разделением строки по пробелу,оставляем правую часть[1]
clean_df['Latitude'] = clean_df['Latitude'].str.split(' ', expand=True)[1].str.replace(',', '.').astype(float)

In [20]:
clean_df

,Temp,Lightness,Wind_speed,Day_number,Solar_ang_1,Latitude,Longitude,Wind_speed_m/s,Solar_ang_2,Year,Month,Day,Hour,Minute
0,0.55,0.604,2.170,327,-20.824944,54.311,": 46,321",7.0,0.0,2015,11,23,0,0
1,0.25,0.581,999.000,327,-20.824944,54.311,": 46,321",7.0,0.0,2015,11,23,0,30
7,0.13,0.588,0.983,327,-20.824944,54.311,": 46,321",3.0,0.0,2015,11,23,3,30
8,-0.16,0.551,999.000,327,-20.824944,54.311,": 46,321",3.0,0.0,2015,11,23,4,0
9,-0.39,0.541,1.689,327,-20.824944,54.311,": 46,321",3.0,0.0,2015,11,23,4,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,-1.31,0.576,0.328,330,-21.353679,54.311,": 46,321",2.0,0.0,2015,11,26,3,0
151,-1.29,0.484,0.711,330,-21.353679,54.311,": 46,321",2.0,0.0,2015,11,26,3,30
152,-1.42,0.692,0.210,330,-21.353679,54.311,": 46,321",2.0,0.0,2015,11,26,4,0
154,-1.50,0.542,0.994,330,-21.353679,54.311,": 46,321",2.0,0.0,2015,11,26,5,0
155,-1.61,0.541,1.044,330,-21.353679,54.311,": 46,321",2.0,0.0,2015,11,26,5,30

In [21]:

clean_df['Longitude'] = clean_df['Longitude'].str.split(' ', expand=True)[1].str.replace(',', '.').astype(float)

In [22]:
clean_df

,Temp,Lightness,Wind_speed,Day_number,Solar_ang_1,Latitude,Longitude,Wind_speed_m/s,Solar_ang_2,Year,Month,Day,Hour,Minute
0,0.55,0.604,2.170,327,-20.824944,54.311,46.321,7.0,0.0,2015,11,23,0,0
1,0.25,0.581,999.000,327,-20.824944,54.311,46.321,7.0,0.0,2015,11,23,0,30
7,0.13,0.588,0.983,327,-20.824944,54.311,46.321,3.0,0.0,2015,11,23,3,30
8,-0.16,0.551,999.000,327,-20.824944,54.311,46.321,3.0,0.0,2015,11,23,4,0
9,-0.39,0.541,1.689,327,-20.824944,54.311,46.321,3.0,0.0,2015,11,23,4,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,-1.31,0.576,0.328,330,-21.353679,54.311,46.321,2.0,0.0,2015,11,26,3,0
151,-1.29,0.484,0.711,330,-21.353679,54.311,46.321,2.0,0.0,2015,11,26,3,30
152,-1.42,0.692,0.210,330,-21.353679,54.311,46.321,2.0,0.0,2015,11,26,4,0
154,-1.50,0.542,0.994,330,-21.353679,54.311,46.321,2.0,0.0,2015,11,26,5,0
155,-1.61,0.541,1.044,330,-21.353679,54.311,46.321,2.0,0.0,2015,11,26,5,30

In [23]:
#записываем получившийся результат в файл без индексов
clean_df.to_excel('clean_data.xlsx', index=False)

In [24]:
#можно весь код оформить в функцию вида 
#def clean(path_to_file):
#    pass <code>
#    return raw_data, clean_data

#print(clean(data[0]))   raw_data
#print(clean(data[1]))   clean_data

In [25]:
clean_df.hist()

array([[<AxesSubplot:title={'center':'Temp'}>,
        <AxesSubplot:title={'center':'Lightness'}>,
        <AxesSubplot:title={'center':'Wind_speed'}>,
        <AxesSubplot:title={'center':'Day_number'}>],
       [<AxesSubplot:title={'center':'Solar_ang_1'}>,
        <AxesSubplot:title={'center':'Latitude'}>,
        <AxesSubplot:title={'center':'Longitude'}>,
        <AxesSubplot:title={'center':'Wind_speed_m/s'}>],
       [<AxesSubplot:title={'center':'Solar_ang_2'}>,
        <AxesSubplot:title={'center':'Year'}>,
        <AxesSubplot:title={'center':'Month'}>,
        <AxesSubplot:title={'center':'Day'}>],
       [<AxesSubplot:title={'center':'Hour'}>,
        <AxesSubplot:title={'center':'Minute'}>, <AxesSubplot:>,
        <AxesSubplot:>]], dtype=object)

In [26]:
#используем способ отображения библиотеки Qt, способ отображения настраивается в виджетах настроек
print(plt.get_backend())

Qt5Agg

In [28]:
clean_df.boxplot()

In [34]:
#sn.pairplot(dfdata, palette='brg', hue='Day_number')

In [35]:
#матрица корреляции
clean_df.corr()

,Temp,Lightness,Wind_speed,Day_number,Solar_ang_1,Latitude,Longitude,Wind_speed_m/s,Solar_ang_2,Year,Month,Day,Hour,Minute
Temp,1.000000,0.136237,0.042063,0.203367,-0.215039,NaN,NaN,0.210980,0.155595,NaN,NaN,0.203367,0.121904,0.001045
Lightness,0.136237,1.000000,-0.054996,-0.252416,0.251812,NaN,NaN,0.158917,0.877355,NaN,NaN,-0.252416,0.096760,-0.016797
Wind_speed,0.042063,-0.054996,1.000000,-0.156124,0.157840,NaN,NaN,-0.026187,-0.065973,NaN,NaN,-0.156124,-0.150631,-0.002977
Day_number,0.203367,-0.252416,-0.156124,1.000000,-0.999861,NaN,NaN,-0.397469,-0.156721,NaN,NaN,1.000000,-0.263444,0.005034
Solar_ang_1,-0.215039,0.251812,0.157840,-0.999861,1.000000,NaN,NaN,0.389304,0.155192,NaN,NaN,-0.999861,0.260335,-0.005025
Latitude,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Longitude,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wind_speed_m/s,0.210980,0.158917,-0.026187,-0.397469,0.389304,NaN,NaN,1.000000,0.056788,NaN,NaN,-0.397469,0.069031,-0.017404
Solar_ang_2,0.155595,0.877355,-0.065973,-0.156721,0.155192,NaN,NaN,0.056788,1.000000,NaN,NaN,-0.156721,0.145805,-0.012330
Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Day,0.203367,-0.252416,-0.156124,1.000000,-0.999861,NaN,NaN,-0.397469,-0.156721,NaN,NaN,1.000000,-0.263444,0.005034
Hour,0.121904,0.096760,-0.150631,-0.263444,0.260335,NaN,NaN,0.069031,0.145805,NaN,NaN,-0.263444,1.000000,0.006824
Minute,0.001045,-0.016797,-0.002977,0.005034,-0.005025,NaN,NaN,-0.017404,-0.012330,NaN,NaN,0.005034,0.006824,1.000000

In [36]:
#тепловая карта использует матрицу корреляции, аннотация показывает числовые данные из матрицы
sn.heatmap(clean_df.corr(), cmap='YlGn', annot=True)